body {
  background-color: #000000;
}

.logo {
  width: 100%;
}

.navbar {
  background-color: black;
  font-size: 12px;
}

.navbar-brand {
  width: 100px;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show,
.nav-link {
  color: white;
}

a:hover {
  color: red;
}

.nav-link:focus,
.nav-link:hover {
  color: red;
}

.navbar form {
  color: white;
  align-items: center;
  justify-content: end;
  gap: 16px;
}

.user {
  width: 30px;
  height: 30px;
}

.user img {
  width: 100%;
}

ion-icon[name="caret-down"] {
  align-self: start;
}

ion-icon[name="menu-outline"] {
  color: white;
  font-size: 40px;
}

form {
  width: 50%;
}

form ion-icon {
  font-size: 16px;
}

.user_wrap {
  display: flex;
  align-items: start;
}

.section ion-icon {
  font-size: 20px;
  color: #726b6b;
  border-color: #726b6b !important;
}

.select {
  background-color: rgb(41, 41, 41);
  height: fit-content;
  border-color: #726b6b;
  color: white;
}

.section {
  background-color: black;
  color: white;
}

.carousel-inner {
  overflow: visible;
}

.carousel-control-next,
.carousel-control-prev {
  display: block;
  position: static;
  width: 32px;
}

#carouselExample,
#again,
#new {
  display: flex;
  gap: 5px;
  /* justify-content: space-around; */
}

.card {
  border: unset;
  border-radius: unset;
  transition: 0.3s;
}

.card-img,
.card-img-top {
  border-top-left-radius: unset;
  border-top-right-radius: unset;
}

#footer {
  font-size: 12px;
  color: #726b6b;
  width: 60%;
  margin-inline: auto;
  white-space: nowrap;
  margin-top: 100px;
}

.section button {
  color: #726b6b;
  border-color: #726b6b !important;
}

.social {
  font-size: 18px;
}

form div:hover,
.select:hover,
.social ion-icon:hover,
.col-6 div span:hover {
  cursor: pointer;
}

.card:hover {
  transform: scale(1.5);
  z-index: 99;
}

.mostra-animazione {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.mostra-animazione.visibile {
  opacity: 1;
}

.visibile {
  opacity: 0;
}
